@page
@model AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<h1>About Me</h1>

@if (Model.UserInfo != null)
{
    <div>
        <h2>@Model.UserInfo.UserName</h2>
        <h3>@Model.UserInfo.Email</h3>
        <h3>@Model.UserInfo.Followers.Count Followers</h3>
        <h3>@Model.UserInfo.Following.Count Following</h3>
    </div>

    <h3>Recent Activity</h3>
    <!--- TODO: Maybe use partial instead --->
    @if (Model.UserInfo.Cheeps.Any())
    {
        <ul>
            @foreach (var cheep in Model.UserInfo.Cheeps)
            {
                <li>
                    <strong>@cheep.Text</strong> <small>@cheep.TimeStamp</small>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No recent activity found.</p>
    }
}
else
{
    <p>User information not available.</p>
}
<form method="post">
    <button type="submit" asp-page-handler="ForgetMe" class="btn btn-lg btn-danger" data-toggle="tooltip" data-placement="top" title="Deletes all your data permanently"> Forget Me </button>
</form>
