@foreach (var cheep in Model.Cheeps)
{
    <div class="card mb-3">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div>
                <strong>
                    <a href="/@cheep.Author" class="text-decoration-none">@cheep.Author</a>
                </strong>
                @if (User.Identity != null && User.Identity.IsAuthenticated && cheep.Author != User.Identity.Name)
                {
                    @if (Model.IsFollowing(cheep.Author))
                    {
                        <form method="post" asp-page-handler="Unfollow" class="d-inline ms-2">
                            <input type="hidden" name="followee" value="@cheep.Author" />
                            <button type="submit" class="btn btn-sm btn-outline-danger">Unfollow</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Follow" class="d-inline ms-2">
                            <input type="hidden" name="followee" value="@cheep.Author" />
                            <button type="submit" class="btn btn-sm btn-outline-success">Follow</button>
                        </form>
                    }

                    @if (await Model.HasLiked(cheep.Id))
                    {
                        <form method="post" asp-page-handler="Unlike" class="d-inline ms-2">
                            <input type="hidden" name="cheepId" value="@cheep.Id" />
                            <button type="submit" class="btn btn-sm btn-outline-danger">Unlike</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Like" class="d-inline ms-2">
                            <input type="hidden" name="cheepId" value="@cheep.Id" />
                            <button type="submit" class="btn btn-sm btn-outline-success">Like</button>
                        </form>
                    }
                }
                <p>Likes: @await Model.GetLikes(cheep.Id)</p>
                </div>
            </div>
            <p class="card-text">
                @cheep.Text
            </p>
            <p class="text-muted small mb-0">
                <small>@cheep.TimeStamp</small>
                @if (User.Identity != null && cheep.Author == User.Identity.Name)
                {
                    <hr />
                    <form method="post" asp-page-handler="DeleteCheep">
                        <button type="submit" class="border-0 bg-transparent p-0">
                            <input type="hidden" name="cheepId" value="@cheep.Id" />
                            <img src="~/images/trash.svg" style="width: 15px; height: 15px;"/>
                        </button>
                    </form>
                }
            </p>
        </div>
    </div>
}
</div>
